@media screen {
    body {
        background: url(./325.webp);
        background-size: cover;
    }
    #calculator{
        margin-top: 60px;
    }
    #bodyTop-Calculator {
        background-color: grey;
        margin: 0px auto;
        border: solid;
        border-style: outset;
        border-bottom: none;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-color: black;
        width: 340px;
        height: 100px;
    }
    #VeskoNik {
        font-family: fantasy;
        font-size: 20px;
        padding-left: 16px;
        padding-top: 3px;
    }
    input {
        background-color: rgb(216, 211, 211);
        border-radius: 8px;
        border: solid;
        border-style: inset;
        padding: 5px 0px;
        margin-top: 7px;
        margin-left: 10px;
        font-family: sans-serif;
        font-size: 30px;
        color: #5c5d5f;
        text-align: right;
    }
    #bodyBottom-Calculator {
        background-color: rgb(214, 196, 196);
        margin: 0px auto;
        border: solid;
        border-top: none;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-color: black;
        width: 340px;
        height: 340px;
    }
    #firstRow, #secondRow, #thirdRow, #fourthRow, #fifthRow {
        padding-top: 12px;
    }
    #firstRow button, #secondRow button, #thirdRow button, #fourthRow button, #fifthRow button {
        font-family: revert;
        margin: 0px 7px;
        border-radius: 10px;
        border: solid;
        border-color: black;
        border-style: outset;
        cursor: pointer;
        box-shadow: 0 5px #999;
    }
    #firstRow button:active , #secondRow button:active , #thirdRow button:active , #fourthRow button:active ,#fifthRow button:active{
        box-shadow: 0 1px #666;
        transform: translateY(4px);
    }
    #AC {
        font-size: 40px;
        background-color: rgb(231, 68, 68);
    }
    #CE {
        font-size: 40px;
        background-color: rgb(231, 68, 68);
    }
    #percentage {
        font-size: 40px;
        padding: 1px 13px;
    }
    #divide {
        font-size: 40px;
        padding: 1px 18px;
    }
    #seven, #four, #one {
        font-size: 40px;
        padding: 1px 23px;
    }
    #eight, #five, #two {
        font-size: 40px;
        padding: 1px 22px;
    }
    #nine, #six, #three {
        font-size: 40px;
        padding: 1px 20px;
    }
    #multiplication {
        font-size: 40px;
        padding: 1px 16px;
    }
    #subtract {
        font-size: 40px;
        padding: 1px 22px;
    }
    #plus {
    margin-top: 13px;
    position: absolute;
    font-family: revert;
    font-size: 40px;
    padding: 32px 17px;
    margin-left: 267px;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-style: outset;
    box-shadow: 0 5px #999;
    cursor: pointer;
    }
    #plus:active{
        box-shadow: 0 1px #666;
        transform: translateY(4px);
    }
    #fourthRow, #fifthRow {
        display: inline-block;
    }
    #zero {
        font-size: 40px;
        padding: 1px 23px;
    }
    #point {
        font-size: 40px;
        padding: 1px 28px;
    }
    #result {
        font-size: 40px;
        padding: 1px 20px;
    }
}

body{
    background: url(./325.webp);
    background-size: cover;
}
#bodyTop-Calculator {
    background-color: grey;
    margin: 0px 400px;
    border: solid;
    border-style: outset;
    border-bottom: none;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-color: black;
}
#bodyBottom-Calculator {
    background-color: rgb(214, 196, 196);
    margin: 0px 400px;
    border: solid;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: black;

}
input{
    background-color: rgb(216, 211, 211);
    border-radius: 8px;
    border: solid;
    border-style: inset;
    padding: 5px 0px;
    margin-top: 3px;
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 35px;
    color: #5c5d5f;
    text-align:right;
}
#VeskoNik {
    font-family: fantasy;
    font-size: 20px;
    padding-left: 16px;
    padding-top: 3px;
}
#firstRow , #secondRow ,#thirdRow ,#fourthRow ,#fifthRow{
    padding-top: 10px;
}
#firstRow button , #secondRow button , #thirdRow button , #fourthRow button ,#fifthRow button{
    font-family: revert;
    margin: 0px 15px;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-style: outset;
    cursor: pointer;
    box-shadow: 0 5px #999;
}
#firstRow button:active , #secondRow button:active , #thirdRow button:active , #fourthRow button:active ,#fifthRow button:active{
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}
#AC {
    font-size: 40px;
    background-color: rgb(231, 68, 68);
}
#CE{
    font-size: 40px;
    background-color: rgb(231, 68, 68);
}
#divide{
    font-size: 40px;
    padding: 1px 18px;
}
#percentage 
{
    font-size: 40px;
    padding: 1px 13px;
}
#seven, #four , #one{
    font-size: 40px;
    padding: 1px 23px;
}
#eight, #five , #two{
    font-size: 40px;
    padding: 1px 22px;
}
#nine ,#six ,#three{
    font-size: 40px;
    padding: 1px 20px;
}
#multiplication {
    font-size: 40px;
    padding: 1px 16px;
}
#subtract {
    font-size: 40px;
    padding: 1px 22px;
}
#point {
    font-size: 40px;
    padding: 1px 28px;
}
#result{
    font-size: 40px;
    padding: 1px 20px;
}
#fourthRow, #fifthRow {
    display: inline-block;
}
#zero{
    font-size: 40px;
    padding: 1px 23px;
}
#plus{
    margin-top: 10px;
    position: absolute;
    font-family: revert;
    font-size: 40px;
    padding: 32px 17px;
    margin-left: 323px;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-style: outset;
    box-shadow: 0 5px #999;
    cursor: pointer;
}
#plus:active{
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}
